<div class="sample-servlet-component">
    <form action="/bin/wknd/validateFormServlet" method="post" id="sampleForm">
        <div>
            <label for="firstName">Nome:</label>
            <input type="text" id="firstName" name="firstName" />
            <span class="error" id="firstNameError"></span>
        </div>

        <div>
            <label for="lastName">Cognome:</label>
            <input type="text" id="lastName" name="lastName" />
            <span class="error" id="lastNameError"></span>
        </div>

        <div>
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" />
            <span class="error" id="emailError"></span>
        </div>

        <input type="submit" value="Invia" />
    </form>
</div>
